<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Decode App</title>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>

    <script async type="text/javascript" src="index.js"></script>
    <script type="text/javascript">
      let outputBuffer = '';

      var Module = {
        preRun: [],
        postRun: [],
        print: (() => {
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            outputBuffer += text;
          }
        })(),
        printErr: (text) => {
          console.error(text);
        },
        exec_ok: () => {},
        exec_error: () => {}
      };

    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
